.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30;

    .background {
        width: 100%;
        height: 100%;
        background-color: rgba(var(--colors-gray-800), .8);
    }
}